# Exclude Visual Studio project files
.vs

# Environment and local configuration
*.env
*.env.local
*.vscode
*.venv

# Sensitive scripts
backend/scripts/create_test_users.py
backend/scripts/verify_test_users.py
backend/scripts/remove_test_users.py
backend/scripts/*.py
