services:
  - type: web
    name: restaurant-api
    env: python
    # On précise à Render que tout se passe dans le dossier backend
    buildCommand: pip install -r backend/requirements.txt
    startCommand: cd backend && alembic upgrade head && gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        generateValue: true
      - key: ALGORITHM
        value: HS256
      - key: ACCESS_TOKEN_EXPIRE_MINUTES
        value: "43200"
      - key: FRONTEND_URL
        value: http://localhost:3000
      - key: MAIL_USERNAME
        sync: false
      - key: MAIL_PASSWORD
        sync: false
      - key: MAIL_FROM
        sync: false
      - key: MAIL_PORT
        value: "587"
      - key: MAIL_SERVER
        value: smtp.gmail.com
      - key: MAIL_FROM_NAME
        value: "Restaurant API"
      - key: MAIL_STARTTLS
        value: "True"
      - key: MAIL_SSL_TLS
        value: "False"
      - key: USE_CREDENTIALS
        value: "True"
      - key: VALIDATE_CERTS
        value: "True"