fastapi[standard]
fastapi-mail
uvicorn[standard]
pydantic-settings

sqlmodel
psycopg2-binary
alembic

python-jose[cryptography]
passlib[bcrypt]
passlib[argon2]
python-multipart
pyjwt
pwdlib[argon2]

python-dotenv

httpx
pytest
pytest-asyncio
black
isort
flake8

gunicorn
uvloop
